<div class="flex my-6">

  <div class="flex flex-col w-full">
    <p class="text-2xl text-red-500" style="margin: 0;">
      Estudar docker
    </p>

    <div class="flex">
      <mat-icon class="text-red-400">redo</mat-icon>
      <p class="text-sm items-center text-red-400 pl-2">description</p>
    </div>
    <p class="text-base pl-4" style="border-left: 4px dashed rgb(248, 113, 113) ;">
      Preciso estudar docker para melhorar minha produtividade no dia dia de desenvolvimento.
      Preciso estudar docker para melhorar minha produtividade no dia dia de desenvolvimento.
    </p>
  </div>

  <div class="flex items-center mx-6">
    <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
      <mat-icon>favorite</mat-icon>
    </button>

    <button mat-icon-button color="primary" aria-label="Example icon button with a open in new tab icon">
      <mat-icon>open_in_new</mat-icon>
    </button>
  </div>

</div>


