<div class="flex flex-col h-full">

  <div class="w-full shadow mb-10 p-2 flex justify-between">

    <div class="flex flex-col">
      <p class="font-semibold text-3xl m-0">Dashboard</p>
      <p class="text-sm tracking-wide">Create and edit your tasks.</p>
    </div>

    <div class="flex items-center">
      <button class="
          text-white
          bg-red-500
          hover:bg-red-600
          hadow rounded
          m-1 w-16 h-10
          font-semibold">
        Logout
      </button>
    </div>
  </div>

  <div class="flex justify-evenly">
    <app-new-task class="flex-grow-0"></app-new-task>
    <app-task-list style="flex-grow: 0.5"></app-task-list>
  </div>

</div>
