<div class="font-sans flex flex-col items-center h-full p-16">

  <div>
    <div class="flex items-center text-blue-400 mb-2 justify-items-start">
      <mat-icon>keyboard_backspace</mat-icon>
      <a routerLink="/dashboard" class="font-medium">
        Me leve de volta agora!
      </a>
    </div>

    <p class="text-3xl text-gray-600">Página não encontrada</p>
  </div>

  <div class="
    text-gray-200
    bg-red-700
    items-center
    rounded-full
    flex m-16
    w-44 h-44
    animate-bounce
    justify-center">
    <p class="text-8xl font-mono">404</p>
  </div>

</div>
